* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .big-bkg-container {
    background-image: url(../images/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }

  .headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }
  
  .nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
      display: none;
  }
  
  .organizer {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.674);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    text-align: left;
    transition: 0.3s;
  }
  
  .menu-sections {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-top: 50px;
  }
  
  .link-nav {
    transition: 0.7s ease;
    color: white;
    margin: 16px 0;
    font-size: 1em;
  }
  
  .link-nav:hover {
    color: orange;
  }
  
  .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: black;
  }
  
  .bar-1 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
  }
  
  .burger-menu {
    display: block;
    cursor: pointer;
  }
  
  .burger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: white;
  }
  
  .burger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: white;
  }
  
  .organizer.active {
    left: 0;
  }

  body.active {
    overflow-y: hidden;
  }
  
  .close-icon {
    width: 30px;
    height: 30px;
  }
  
  .close-menu {
    position: fixed;
    left: 85%;
    cursor: pointer;
  }

  .last-headline {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin: 0 auto;
    padding: 35px 25px 0 25px;
   }
   
   .slogan {
     font-family: 'Nanum Gothic', sans-serif;
     font-size: 25px;
     color: #ec5242;
   }
   
   h1 {
    font-family: 'COCOGOOSE', sans-serif;
    line-height: 55px;
    color: transparent;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    background-image: url(../images/h1-bkg2.jpg);
    background-size: cover;
    background-clip: text;
    background-position-y: bottom;
    -webkit-background-clip: text;
    margin-bottom: 28px;
  }
   
   .intro {
     margin: 17px 0.75em 0px;
     width: calc(100% - 2.5em);
     padding: 1em 0.5em;
     line-height: 150%;
     font-size: 13px;
     height: auto;
     text-align: justify;
     border: 4px solid rgb(255, 255, 255);
     background-color: rgb(247, 247, 248);
     text-align: justify;
   }
   
   .contact-message {
     padding: 40px 40px 10px 40px;
     font: 400 15px Verdana;
     color: rgb(51, 51, 51);
     text-align: center;
     line-height: 22px;
     width: 90%;
   }
   
   .email-info {
     font: 700 13px Verdana;
     color: rgb(51, 51, 51);
     text-decoration: solid black !important;
     /*hace falta poner la linea debajo del link tag aqui*/
   }
   
   .intro-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-bottom: 45px;
   }

   .logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgb(51, 51, 51);
    padding: 51px 25px 0 25px;
   }

   .title-logo-section {
    text-align: center;
    font-size: 24px;
    font-family: 'Nanum Gothic', sans-serif;
    border-bottom: 1px solid rgb(239, 81, 60);
    padding: 15px;
   }

   .info-logo-section {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    margin: 30px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(51, 51, 51);
   }

   .big-logo {
    width: 75%;
    height: 20%;
    margin: 55px;
    border: 1px solid black;
   }

   .previous-cohort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px;
   }

   .cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding: 0 15px;
   }

   .cards-container h2 {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    border-bottom: 1px solid rgb(239, 81, 60);
    padding: 15px;
   }

   .cards-container p {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
   }

   .cohort1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-image: url(../images/astronomy-picture.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 100px rgb(239, 81, 60, 0.5);
    width: 80%;
    height: 200px;
    color: #fff;
   }

   .cohort2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-image: url(../images/astronomy-picture-3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 100px rgb(239, 81, 60, 0.5);
    width: 80%;
    height: 200px;
    color: #fff;
    margin-bottom: 30px;
   }

   .cohort-date {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 35px;
   }

   .cohort-description {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 600;
   }

   .sponsors {
  background-color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px 0 30px 0;
   }

   .partner {
   text-align: center;
   font-size: 24px;
   font-family: 'Nanum Gothic', sans-serif;
   border-bottom: 1px solid rgb(239, 81, 60);
   padding: 8px;
   width: 40%;
   color: #fff;
   }

   .partner-logo {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0 15px 15px 15px;
    width: 90%;
   }

   .logo1 {
    width: 60px;
   }

   footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .footer-logo {
    width: 200px;
  }